@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300&family=Karla:wght@400&display=swap");

.background-home {
  background-image: url("../../../public/assets/images/wallpaper-main.jpg");
  text-align: center;
  height: 100vh;
  min-width: 400px;
  background-size: cover;
  background-repeat: repeat;
}

.consurural-name-brand {
  font-size: 75px;
  font-family: "Jura";
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

.text-background-image {
  font-size: 25px;
  font-family: "Karla";
  color: rgba(255, 255, 255, 1);
}

.underlined-consurural-brand {
  margin: 0 auto;
  width: 31.25rem;
  height: 1.25rem;
}

.brand {
  margin-top: 2.9rem;
}

@media only screen and (max-width: 600px) {
  .consurural-name-brand {
    font-size: 60px;
    font-family: "Jura";
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  .text-background-image {
    font-size: 15px;
    font-family: "Karla";
    color: rgba(255, 255, 255, 1);
  }

  .underlined-consurural-brand {
    margin: auto;
    width: 25rem;
  }

  .brand {
    margin-top: 4rem;
  }
}

@media only screen and (min-width: 600px) {
  .consurural-name-brand {
    font-size: 70px;
    font-family: "Jura";
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  .text-background-image {
    font-size: 17.5px;
    font-family: "Karla";
    color: rgba(255, 255, 255, 1);
  }

  .underlined-consurural-brand {
    margin: auto;
    width: 25rem;
  }

  .brand {
    margin-top: 2.75rem;
  }
}

@media only screen and (min-width: 992px) {
  .consurural-name-brand {
    font-size: 90px;
    font-family: "Jura";
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  .text-background-image {
    font-size: 19.5px;
    font-family: "Karla";
    color: rgba(255, 255, 255, 1);
  }

  .underlined-consurural-brand {
    margin: auto;
    width: 37.5rem;
  }

  .brand {
    margin-top: 2.5rem;
  }
}
