@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&family=Karla:wght@400&display=swap');

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-recomendations {
    margin-bottom: 100px;
    height: 100%;

    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.card-recomendations {
    @apply rounded-lg;

    background-color: #0F134F;

    width: 390px;
    height: 290px;
}

.icon-recomendations {
    flex-direction: column;

    height: 8.5rem;
    width: 8.5rem;

    margin: 3rem auto;
}

.text-recomendations {
    font-family: "Karla";
    margin: auto 50px auto 50px;
}
